<nav class="navbar">
  <div class="nav">
    <ul class="navlist">
      <li class="navitems" style="padding-left: 0">
        <img
          src="./img/logo.png"
          alt=""
          class="nav__icon icon-rounded icon-first"
        />
      </li>
      <li class="navitems">
        <div class="navList">
          <input type="text" placeholder="Search" class="search-input" /><span
            class="material-icons search"
          >
            search
          </span>
        </div>
      </li>
      <li class="navitems">Home</li>
      <li class="navitems">Profile</li>
      <li class="navitems">Connections</li>
      <li class="navitems">Interest</li>
      <li class="navitems text-color__orange">Try Premium</li>
      <li class="navitems">
        <span class="material-icons green"> comment </span>
      </li>
      <li class="navitems">
        <span class="material-icons yellow"> notifications </span>
      </li>
      <li class="navitems">
        <span class="material-icons purple"> person_add </span>
      </li>
      <li class="navitems">
        <img src="./img/avatar.jpg" alt="" class="nav__icon icon_rounded" />
      </li>
    </ul>
  </div>
</nav>

<section class="category">
  <div class="category-container">
    <ul class="list">
      <li class="list-items list-active">Posts</li>
      <li class="list-items">Background</li>
      <li class="list-items">Recommendations</li>
      <li class="list-items">Following</li>
    </ul>
  </div>
</section>
