<div class="user-container">
    <div class="first-section">
      <img src="./img/bill-gates-avatar.png" alt="" class="user-avatar">
      <div class="user">
        <h1 class="user-name">Bill Gates</h1>
        <h2 class="work">Microsoft Founder</h2>
        <h2 class="location">Greater Seattle Area</h2>
      </div>
      <div class="buttons">
        <input type="button" class="btn btn-primary" value="Follow">
        <input type="button" class="btn btn-outline" value="Connect">
      </div>
    </div>
    <div class="grid">
      <div class="grid-item">
        <p>200</p>
        <p class="text">connecti...</p>
      </div>
      <div class="grid-item">
        <p>1.9M</p>
        <p>followers</p>
      </div>
    </div>
    <div class="links">
      <div class="link-items">
        <span class="material-icons icons">
          link
          </span><p>linkedin.com/in/brillgat...</p>
      </div>
      <div class="link-items">
        <span class="material-icons icons">
          language
          </span><p>linkedin.com/in/brillgat...</p>
      </div>
    </div>
  </div>